.page-header {
    .container {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        align-items: center;
        margin-left: 30px;
        margin-top: 40px;
        @include for-large-up {
            margin-left: 0px;
            margin-top: 30px;
            height: 50px;
        }
        &__img {
            width: 50px;
            height: 50px;
        }
        &__title {
            margin-left: 10px;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: $text-color-blue;
        }
    }
    &__navigation {
        display: none;
        @include for-large-up {
            display: flex;
            margin: 0;
            padding: 0;
            margin-top: 30px;
            margin-left: 220px;
            .nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                list-style-type: none;
                width: 120px;
                height: 50px;
                .nav-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 120px;
                    height: 50px;
                    text-decoration: none;
                    color: #000000;
                    &:last-child {
                        width: 180px;
                    }
                }
                &:last-child {
                    width: 180px;
                    margin-right: 20px;
                }
            }
        }
    }
    &__upload-btn {
        display: none;
        @include for-large-up {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 180px;
            height: 50px;
            background-color: $text-color-blue;
            border: none;
            box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
            text-transform: uppercase;
            margin-top: 30px;
        }
    }
}