@import 'breakpoints';
@import 'variables';
@import 'commons';
@import 'header';
@import 'headline';
@import 'upload';
@import 'reviews';
@import 'workflow';
@import 'features';
@import 'users';
@import 'purposes';
@import 'consultation';
@import 'stories';
@import 'page-footer';
* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

body {
    margin: 0 auto;
    width: 640px;
    color: #11223F;
    background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
    @include for-large-up {
        width: 100%;
        background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png) center top no-repeat;
    }
}