.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1120px;
  height: 50px;
  margin-top: 30px;
}
.page-header__navigation {
  display: flex;
  align-items: center;
}
.page-header__navigation_lists {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 540px;
  margin: 0;
  padding: 0;
}
.page-header__navigation_lists_list {
  width: 120px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #11223F;
}
.page-header__navigation_blue-button {
  width: 180px;
  height: 50px;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  background-color: #1967FA;
  border: none;
  margin-left: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-family: "Muli", Arial, sans-serif;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}
.logo_img {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/LogoSmallSolid.png");
}
.logo_text {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  font-family: "Muli", Arial, sans-serif;
  color: #1967FA;
  margin-left: 10px;
}

@media screen and (max-width: 1024px) {
  .page-header {
    width: 640px;
  }
  .page-header__navigation_lists {
    display: none;
  }
  .page-header__navigation_blue-button {
    display: none;
  }

  .logo {
    margin-left: 80px;
  }
}
.page-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
  margin-top: 121px;
  background-color: #FBFBFB;
}

.footer-logo {
  display: flex;
  align-items: center;
  width: 250px;
  background-color: rgba(25, 104, 252, 0.05);
  margin-right: 70px;
}
.footer-logo_img {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/LogoSmallSolid.png");
}
.footer-logo span {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #1967FA;
  margin-left: 18px;
}

.footer-links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  width: 480px;
  height: 50px;
  margin-right: 50px;
}
.footer-links li {
  display: flex;
  align-items: center;
  width: 120px;
  height: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 1024px) {
  .footer-links {
    display: none;
  }
}
.footer-img {
  width: 280px;
  display: flex;
  align-items: center;
}
.footer-img .facebook {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconFacebook.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.footer-img .instagram {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconInstagram.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.footer-img .Vinsent {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/VincentIllustration.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90px;
  height: 100px;
  margin-left: 80px;
}

@media screen and (max-width: 1024px) {
  .footer-img .Vinsent {
    position: relative;
    bottom: -34px;
    width: 55px;
    height: 60px;
    background-size: cover;
  }
}
.headline {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1120px;
  height: 552px;
  margin-top: 150px;
}
.headline__img {
  position: relative;
  right: 60px;
  min-width: 599px;
  height: 502px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IllustrationMain.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
}
.headline__title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #11223F;
}
.headline__description {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  font-family: "Muli", Arial, sans-serif;
  color: #11223F;
}
.headline__upload-btn {
  width: 300px;
  height: 50px;
  background-color: #1967FA;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-family: "Muli", Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
}

.headline-text {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 600px;
  height: 310px;
}

@media screen and (max-width: 1024px) {
  .headline-text {
    min-width: 480px;
    height: 310px;
    align-items: center;
  }
}
@media screen and (max-width: 1024px) {
  .headline {
    width: 640px;
    height: 892px;
    flex-direction: column;
  }
  .headline__img {
    right: 0;
  }
  .headline__title {
    width: 480px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 1px;
  }
  .headline__description {
    width: 480px;
  }
  .headline__upload-btn {
    align-self: flex-start;
    margin-left: 80px;
  }
}
.reviews {
  position: relative;
  z-index: 1;
  bottom: 100px;
  width: 1120px;
  height: 280px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .reviews {
    width: 640px;
    height: 660px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 60px;
    z-index: 4;
    margin-top: 45px;
  }
}
.blue {
  display: none;
}

@media screen and (max-width: 1024px) {
  .blue {
    position: relative;
    z-index: 5;
    bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png");
    width: 640px;
    height: 180px;
  }
  .blue span {
    display: block;
    width: 520px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
    text-align: center;
  }

  .men {
    margin-bottom: 50px;
    margin-top: 20px;
  }
}
.review {
  width: 540px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
}
.review__text {
  display: flex;
  justify-content: space-between;
  width: 460px;
  margin-top: 20px;
}
.review__text_avatar_men {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/TestimonialPicture-2.png");
  width: 100px;
  height: 100px;
}
.review__text_avatar_women {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/TestimonialPicture-1.png");
  width: 100px;
  height: 100px;
}
.review__text_name {
  position: relative;
  z-index: 1;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
.review__text_name span:nth-child(1) {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
.review__text_name span:nth-child(2) {
  color: #1967FA;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
}
.review__text_img {
  position: relative;
  z-index: 2;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IllustrationQuote.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 60px;
  height: 46px;
}
.review__senior {
  width: 460px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

* {
  box-sizing: border-box;
  font-family: "Muli", Arial, sans-serif;
  font-weight: 600;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  height: 100%;
  background: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png");
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .page {
    width: 640px;
    background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
  }
}

/*# sourceMappingURL=styles.css.map */
