.container {
  width: 540px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1120px;
  }
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  background-color: #1968FC;
  border: none;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  text-transform: uppercase;
}

.line {
  width: 80px;
  height: 2px;
  background: #1968FC;
  box-shadow: 0px 2px 0px #D1E1FE;
}
@media screen and (min-width: 1024px) {
  .line {
    margin-left: -40px;
    margin-top: 10px;
  }
}

.title-card {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1967FA;
}

.title-cards {
  margin: 0;
  padding: 0;
  width: 520px;
  height: 60px;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
}
.page-header .logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .page-header .logo {
    margin-left: 0px;
    margin-top: 30px;
    height: 50px;
  }
}
.page-header .logo__img {
  width: 50px;
  height: 50px;
}
.page-header .logo__title {
  margin-left: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #1968FC;
}
.page-header__navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__navigation {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-left: 220px;
  }
  .page-header__navigation .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 120px;
    height: 50px;
  }
  .page-header__navigation .nav-item .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    text-decoration: none;
    color: #000000;
  }
  .page-header__navigation .nav-item .nav-link:last-child {
    width: 180px;
  }
  .page-header__navigation .nav-item:last-child {
    width: 180px;
    margin-right: 20px;
  }
}
.page-header__upload-btn {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__upload-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    height: 50px;
    background-color: #1968FC;
    border: none;
    box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
    text-transform: uppercase;
    margin-top: 30px;
  }
}

.headline .container {
  position: relative;
}
.headline__title {
  margin: 80px 0 0 30px;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 1px;
}
@media screen and (min-width: 1024px) {
  .headline__title {
    margin: 150px 0 0 0;
    width: 600px;
    height: 120px;
  }
}
.headline__description {
  margin-left: 30px;
  font-size: 20px;
  line-height: 40px;
}
@media screen and (min-width: 1024px) {
  .headline__description {
    margin: 20px 0 0 0;
    width: 600px;
    height: 80px;
  }
}
.headline__upload-btn {
  margin: 40px 0 0 30px;
}
.headline__upload-btn .upload-btn__small {
  display: block;
}
.headline__upload-btn .upload-btn__large {
  display: none;
}
@media screen and (min-width: 1024px) {
  .headline__upload-btn {
    margin: 40px 0 0 0;
  }
  .headline__upload-btn .upload-btn__small {
    display: none;
  }
  .headline__upload-btn .upload-btn__large {
    display: block;
  }
}
.headline__banner {
  margin-top: 80px;
}
@media screen and (min-width: 1024px) {
  .headline__banner {
    position: absolute;
    top: 50px;
    right: 0;
    margin-top: 0;
  }
}

.upload {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1000px;
  text-align: center;
  width: 640px;
  height: 180px;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png);
}
.upload__text {
  margin: 0 60px;
}
@media screen and (min-width: 1024px) {
  .upload {
    display: none;
  }
}

.reviews {
  margin-top: 168px;
}
@media screen and (min-width: 1024px) {
  .reviews {
    margin-top: 160px;
  }
}
@media screen and (min-width: 1024px) {
  .reviews .container {
    display: flex;
    justify-content: space-between;
  }
}
.reviews .review {
  padding-top: 40px;
  margin-bottom: 50px;
  width: 540px;
  height: 280px;
  background-color: #fff;
}
@media screen and (min-width: 1024px) {
  .reviews .review {
    box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
    margin-bottom: 0;
  }
}
.reviews .review__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 0 40px;
}
.reviews .review__header .who {
  margin-right: 70px;
  margin-left: 20px;
}
.reviews .review__header .who .name {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
.reviews .review__header .who .proffesion {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #1967FA;
  opacity: 0.8;
}
.reviews .review__header .review__logo {
  margin-right: 40px;
}
.reviews .review__description {
  margin: 40px;
  font-size: 16px;
  line-height: 30px;
}
.reviews .review__description-small {
  display: block;
}
.reviews .review__description-large {
  display: none;
}
@media screen and (min-width: 1024px) {
  .reviews .review__description-small {
    display: none;
  }
  .reviews .review__description-large {
    display: block;
  }
}

.workflow {
  margin-top: 120px;
}
.workflow__line {
  margin-top: 10px;
  margin-bottom: 48px;
}
@media screen and (min-width: 1024px) {
  .workflow__line {
    transform-t: 50%;
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 1024px) {
  .workflow-step__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.workflow-step__wrapper .workflow__step {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
  background-color: #fff;
}
@media screen and (min-width: 1024px) {
  .workflow-step__wrapper .workflow__step {
    width: 320px;
    height: 220px;
    box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
    margin-bottom: 0;
  }
  .workflow-step__wrapper .workflow__step:nth-child(2) {
    margin-top: 40px;
  }
  .workflow-step__wrapper .workflow__step:last-child {
    margin-top: 80px;
  }
}
.workflow-step__wrapper .workflow__step .step {
  padding-top: 40px;
}
.workflow-step__wrapper .workflow__step .step .number {
  margin: 0 0 0 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}
.workflow-step__wrapper .workflow__step .step .name {
  margin-left: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1967FA;
}
.workflow-step__wrapper .workflow__step .step .description {
  margin: 0;
  padding: 0;
  margin: 10px 0 40px 40px;
  font-size: 16px;
  line-height: 30px;
}
@media screen and (min-width: 1024px) {
  .workflow-step__wrapper .workflow__step .step .description {
    margin: 20px 0 40px 40px;
    width: 240px;
    height: 60px;
  }
}
.workflow-step__wrapper .workflow__step .workflow__icon {
  margin: 40px 40px 0 0;
}
@media screen and (min-width: 1024px) {
  .workflow-step__wrapper .workflow__step .workflow__icon {
    margin-top: 40px;
    margin-left: -40px;
  }
}
.workflow-step__wrapper .workflow__step .workflow__squar {
  position: absolute;
  bottom: -5px;
  right: -5px;
}
.workflow-step__wrapper .workflow__step .workflow__dashed {
  position: absolute;
  top: 182px;
  left: 59px;
  width: 1px;
  height: 40px;
  border: 2px dashed #1968FC;
}
@media screen and (min-width: 1024px) {
  .workflow-step__wrapper .workflow__step .workflow__dashed {
    width: 70px;
    height: 1px;
    left: 320px;
    top: 110px;
    transform: translate(0, -50%);
  }
}

.features {
  margin-top: 125px;
}
@media screen and (min-width: 1024px) {
  .features {
    margin-top: 120px;
  }
}
.features__line {
  margin-top: 10px;
}
.features__list {
  padding-top: 48px;
}
@media screen and (min-width: 1024px) {
  .features__list {
    display: flex;
    justify-content: space-between;
  }
}
.features__list .feature {
  position: relative;
  margin-bottom: 60px;
  width: 520px;
  height: 200px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .features__list .feature {
    width: 320px;
    height: 290px;
  }
  .features__list .feature:nth-child(2) {
    margin-top: 40px;
  }
  .features__list .feature:last-child {
    margin-top: 80px;
  }
}
.features__list .feature__header {
  display: flex;
  height: 80px;
  background-color: #F3F7FF;
}
@media screen and (min-width: 1024px) {
  .features__list .feature__header {
    height: 120px;
  }
}
.features__list .feature__header .card__logo {
  width: 80px;
  height: 80px;
}
@media screen and (min-width: 1024px) {
  .features__list .feature__header .card__logo {
    height: 120px;
    width: 120px;
  }
}
.features__list .feature__title {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}
@media screen and (min-width: 1024px) {
  .features__list .feature__title {
    line-height: 30px;
  }
}
.features__list .feature__description {
  display: flex;
  margin: auto;
  margin-top: 30px;
  width: 440px;
  height: 60px;
  font-size: 16px;
  line-height: 30px;
}
@media screen and (min-width: 1024px) {
  .features__list .feature__description {
    margin: 40px;
    width: 240px;
    height: 90px;
  }
}
.features__list .feature .features__squar {
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.users {
  margin-top: 125px;
}
@media screen and (min-width: 1024px) {
  .users {
    margin-top: 40px;
  }
}
.users .title-cards-small {
  display: inline-block;
}
@media screen and (min-width: 1024px) {
  .users .title-cards-small {
    display: none;
  }
}
.users .title-cards-large {
  display: none;
}
@media screen and (min-width: 1024px) {
  .users .title-cards-large {
    display: inline-block;
  }
}
.users__line {
  margin-top: 10px;
}
.users__card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 28px;
}
@media screen and (min-width: 1024px) {
  .users__card-wrapper {
    margin-top: 38px;
  }
}
.users__card-wrapper .user {
  margin-bottom: 20px;
  width: 250px;
  height: 190px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .users__card-wrapper .user {
    width: 360px;
    height: 160px;
  }
}
.users__card-wrapper .user__title {
  margin: 20px;
}
.users__card-wrapper .user__title .user__title-small {
  display: block;
}
@media screen and (min-width: 1024px) {
  .users__card-wrapper .user__title .user__title-small {
    display: none;
  }
}
.users__card-wrapper .user__title .user__title-large {
  display: none;
}
@media screen and (min-width: 1024px) {
  .users__card-wrapper .user__title .user__title-large {
    display: block;
  }
}
.users__card-wrapper .user__description {
  margin: 0;
  padding: 0;
  margin: 0 20px;
  font-size: 16px;
  line-height: 30px;
}

.purposes {
  margin-top: 120px;
}
@media screen and (min-width: 1024px) {
  .purposes {
    margin-top: 100px;
  }
}
.purposes__line {
  margin-top: 10px;
}
.purposes__title {
  height: 120px;
}
@media screen and (min-width: 1024px) {
  .purposes__title {
    width: 100%;
    height: 60px;
  }
}
.purposes__title .purposes__title-small {
  display: block;
}
@media screen and (min-width: 1024px) {
  .purposes__title .purposes__title-small {
    display: none;
  }
}
.purposes__title .purposes__title-large {
  display: none;
}
@media screen and (min-width: 1024px) {
  .purposes__title .purposes__title-large {
    display: block;
  }
}
.purposes__card-wrapper {
  margin-top: 38px;
}
@media screen and (min-width: 1024px) {
  .purposes__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.purposes .purpose {
  display: flex;
  margin-bottom: 40px;
  width: 520px;
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .purposes .purpose {
    width: 540px;
  }
}
.purposes .purpose__description {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.consultation {
  position: relative;
  margin-top: 60px;
  padding-top: 60px;
  background-color: #1968FC;
  width: 640px;
  height: 480px;
}
@media screen and (min-width: 1024px) {
  .consultation {
    margin: 0 auto;
    margin-top: 80px;
    width: 1440px;
    height: 450px;
  }
}
.consultation__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .consultation__title {
    width: fit-content;
  }
}
.consultation__line {
  margin-top: 10px;
  background: #FFFFFF;
  box-shadow: 0px 2px 0px #6A9EFF;
}
.consultation__description {
  margin-top: 38px;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .consultation__description {
    margin-top: 48px;
    width: 620px;
    height: 80px;
  }
}
.consultation__button {
  margin-top: 40px;
  width: 320px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.4);
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #1968FC;
}
.consultation__img {
  display: none;
}
@media screen and (min-width: 1024px) {
  .consultation__img {
    position: absolute;
    display: block;
    right: 0;
    top: 20px;
  }
}

.stories {
  margin-top: 60px;
}
@media screen and (min-width: 1024px) {
  .stories {
    margin-top: 120px;
  }
}
.stories__line {
  margin-top: 10px;
}
.stories__card-wrapper {
  margin-top: 42px;
}
@media screen and (min-width: 1024px) {
  .stories__card-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
  }
}
.stories__card-wrapper .story-card {
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .stories__card-wrapper .story-card {
    width: 480px;
  }
}
.stories__card-wrapper .story-card .card__header {
  display: flex;
}
.stories__card-wrapper .story-card .card__header .card__title {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #111111;
}
.stories__card-wrapper .story-card .card__description {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 60px;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
.stories__card-wrapper .story-card .card__description-part-middle {
  display: block;
  margin-top: 30px;
}
.stories__card-wrapper .story-card .card__description-part-down {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.stories__card-wrapper .story-card .card__description-part-down__line {
  text-decoration: underline black;
}

.page-footer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 61px;
  background-color: #FBFBFB;
  width: 640px;
  height: 130px;
}
@media screen and (min-width: 1024px) {
  .page-footer {
    width: 1440px;
    margin-top: 50px;
  }
}
.page-footer .footer-logo {
  display: flex;
  margin-left: 40px;
  width: 250px;
  height: 50px;
}
@media screen and (min-width: 1024px) {
  .page-footer .footer-logo {
    margin-left: 160px;
  }
}
.page-footer .footer-logo__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #1968FC;
  background: rgba(25, 104, 252, 0.05);
}
.page-footer .footer__nav {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-footer .footer__nav {
    display: flex;
    margin-left: 70px;
  }
  .page-footer .footer__nav .nav-item {
    list-style-type: none;
    height: 50px;
    width: 120px;
  }
  .page-footer .footer__nav .nav-item__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    text-decoration: none;
    color: #000000;
  }
}
.page-footer .footer__icons {
  display: flex;
}
.page-footer .footer__icons-facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  width: 50px;
  height: 50px;
}
.page-footer .footer__icons-facebook .icon-facebook {
  width: 10px;
  height: 20px;
}
.page-footer .footer__icons-insta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.page-footer .footer__icons-insta .icon-instagram {
  width: 20px;
  height: 20px;
}
.page-footer .footer__logo-man {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 55px;
}
@media screen and (min-width: 1024px) {
  .page-footer .footer__logo-man {
    width: 100px;
    height: 90px;
    right: 160px;
  }
}

* {
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

body {
  margin: 0 auto;
  width: 640px;
  color: #11223F;
  background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
}
@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png) center top no-repeat;
  }
}

/*# sourceMappingURL=style.css.map */
