.page-header .container {
  display: flex;
  justify-content: space-between;
  margin-left: 160px;
  margin-right: 160px;
}
.page-header .logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .page-header .logo {
    margin-left: 0px;
    margin-top: 30px;
    height: 50px;
  }
}
.page-header .logo__img {
  width: 50px;
  height: 50px;
}
.page-header .logo__title {
  margin-left: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #1967FA;
}
.page-header__navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__navigation {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-left: 220px;
  }
  .page-header__navigation .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 120px;
    height: 50px;
  }
  .page-header__navigation .nav-item .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    text-decoration: none;
    color: #000000;
  }
  .page-header__navigation .nav-item .nav-link:last-child {
    width: 180px;
  }
  .page-header__navigation .nav-item:last-child {
    width: 180px;
    margin-right: 20px;
  }
}
.page-header__upload-btn {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__upload-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    height: 50px;
    background-color: #1967FA;
    border: none;
    box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
    text-transform: uppercase;
    margin-top: 30px;
  }
}

.page-footer {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 61px;
  background-color: #FBFBFB;
  width: 640px;
  height: 130px;
}
@media screen and (min-width: 1024px) {
  .page-footer {
    width: 1440px;
    margin-top: 120px;
  }
}
.page-footer .footer-logo {
  display: flex;
  margin-left: 40px;
  width: 250px;
  height: 50px;
}
@media screen and (min-width: 1024px) {
  .page-footer .footer-logo {
    margin-left: 160px;
  }
}
.page-footer .footer-logo__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #1967FA;
  background: rgba(25, 104, 252, 0.05);
}
.page-footer .footer__nav {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-footer .footer__nav {
    display: flex;
    margin-left: 70px;
  }
  .page-footer .footer__nav .nav-item {
    list-style-type: none;
    height: 50px;
    width: 120px;
  }
  .page-footer .footer__nav .nav-item__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    text-decoration: none;
    color: #000000;
  }
}
.page-footer .footer__icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-footer .footer__icons-facebook {
  margin-left: 50px;
  width: 50px;
  height: 50px;
}
.page-footer .footer__icons-facebook .icon-facebook {
  width: 10px;
  height: 20px;
}
.page-footer .footer__icons-insta {
  width: 50px;
  height: 50px;
}
.page-footer .footer__icons-insta .icon-instagram {
  width: 20px;
  height: 20px;
}
.page-footer .footer__icons .footer__logo-man {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 55px;
}
@media screen and (min-width: 1024px) {
  .page-footer .footer__icons .footer__logo-man {
    width: 100px;
    height: 90px;
    right: 160px;
  }
}

* {
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

body {
  margin: 0 auto;
  width: 640px;
  color: #11223F;
  background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
}
@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png) center top no-repeat;
  }
}

/*# sourceMappingURL=styles.css.map */
