.consultation {
    position: relative;
    display: flex;
    background-color: $main-blue;
    height: 450px;
    width: 1440px;
    margin-top: 120px;
    &__title {
        position: relative;
        & span {
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 60px;
            text-transform: uppercase;
            color: white;
        }
        & p {
            position: absolute;
            left: -40px;
            width: 80px;
            height: 2px;
            background-color: white;
            box-shadow: 0px 2px 0px #D1E1FE;
        }
    }
    &__description {
        display: inline-block;
        width: 620px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
        color: white;
    }
    &__button {
        width: 320px;
        height: 50px;
        background-color: white;
        color: $main-blue;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        border: none;
        text-transform: uppercase;
    }
    &_img {
        position: absolute;
        z-index: 2;
        right: 5px;
        top: 20px;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IllustrationWhiteglove.png');
        background-position: center;
        width: 599px;
        height: 546px;
    }
}

@include small_device {
    .consultation {
        width: 640px;
        align-items: center;
        justify-content: center;
        &__title {
            width: 520px;
            & p {
                left: 0;
                bottom: -20px;
            }
        }
        &_img {
            display: none;
        }
        &__description {
            width: 520px;
        }
    }
}

.main {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 290px;
    margin-left: 160px;
    margin-top: 80px;
}

@include small_device {
    .main {
        margin: 0;
        height: 340px;
    }
}