.page-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
    margin-top: 121px;
    background-color: #FBFBFB;
}

.footer-logo {
    display: flex;
    align-items: center;
    width: 250px;
    background-color: rgba(25, 104, 252, 0.05);
    margin-right: 70px;
    &_img {
        display: inline-block;
        height: 50px;
        width: 50px;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/LogoSmallSolid.png');
    }
    & span {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: $main-blue;
        margin-left: 18px;
    }
}

.footer-links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    width: 480px;
    height: 50px;
    margin-right: 50px;
    & li {
        display: flex;
        align-items: center;
        width: 120px;
        height: 50px;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
}

@include small_device {
    .footer-links {
        display: none;
    }
}

.footer-img {
    width: 280px;
    display: flex;
    align-items: center;
    & .facebook {
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconFacebook.png');
        background-position: center;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
    }
    & .instagram {
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconInstagram.png');
        background-position: center;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
    }
    & .Vinsent {
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/VincentIllustration.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 90px;
        height: 100px;
        margin-left: 80px;
    }
}

@include small_device {
    .footer-img {
        & .Vinsent {
            position: relative;
            bottom: -34px;
            width: 55px;
            height: 60px;
            background-size: cover;
        }
    }
}