.headline {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 1120px;
    height: 552px;
    margin-top: 150px;
    &__img {
        position: relative;
        z-index: 1;
        right: 79px;
        min-width: 599px;
        height: 502px;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IllustrationMain.png');
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 50px;
    }
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        color: $main-black;
    }
    &__description {
        position: relative;
        z-index: 3;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
        font-family: $main-font;
        color: $main-black;
    }
    &__upload-btn {
        width: 300px;
        height: 50px;
        background-color: $main-blue;
        border: none;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        font-family: $main-font;
        color: white;
        text-transform: uppercase;
        box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
    }
}

.headline-text {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 600px;
    height: 310px;
}

@include small_device {
    .headline-text {
        min-width: 480px;
        height: 310px;
        align-items: center;
    }
}

@include small_device {
    .headline {
        width: 640px;
        height: 892px;
        flex-direction: column;
        &__img {
            right: 0;
        }
        &__title {
            width: 480px;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            letter-spacing: 1px;
        }
        &__description {
            width: 480px;
        }
        &__upload-btn {
            align-self: flex-start;
            margin-left: 80px;
        }
    }
}