@import 'breakpoints.scss' ,'variables.scss','header.scss','footer.scss','headline.scss','reviews.scss';
* {
    box-sizing: border-box;
     font-family: $main-font;
    font-weight: 600;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    height: 100%;
    background: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png');
    background-repeat: no-repeat;
}

@include small_device {
    .page {
        width: 640px;
        background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
        ;
    }
}