@import'breakpoints.scss';
@import'variables.scss';
@import'header.scss';
@import'headline.scss';
@import'pleasevisit.scss';
@import'reviews.scss';
@import'workflow.scss';
@import'features.scss';
@import'users.scss';
@import'purposes.scss';
@import'consultation';
@import'stories.scss';
@import'footer.scss';

*{
    box-sizing: border-box;
}
body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
   
    
}
html {
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    color: $text-color-black;
}
.page-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page {
    width: 100%;
    background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
    display: flex;
flex-direction: column;
margin: auto;
max-width: 640px;
    @include for-large-up {
        max-width: 1440px;
            margin: auto;
            min-height: 100vh;
            height: 100%;
            background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png');
    position: relative;
    }
}

