.purposes {
    height: 310px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@include small_device {
    .purposes {
        align-items: center;
        height: 610px;
    }
}

.purpose-text {
    position: relative;
    width: 1160px;
    & span {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 60px;
        text-transform: uppercase;
    }
    & p {
        position: absolute;
        left: -40px;
        width: 80px;
        height: 2px;
        background-color: $main-blue;
        box-shadow: 0px 2px 0px #D1E1FE;
    }
}

@include small_device {
    .purpose-text {
        width: 520px;
        & p {
            left: 0;
        }
    }
}

.purpose-blocks {
    width: 1120px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    .purpose {
        width: 540px;
        height: 80px;
        box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
        background-color: white;
    }
}

@include small_device {
    .purpose-blocks {
        width: 520px;
        height: 420px;
    }
}

.make {
    display: flex;
    align-items: center;
    align-self: flex-start;
    &_image {
        width: 80px;
        height: 80px;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconSolidRealisticPrototype.png');
    }
    & span {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 40px;
        width: 420px;
        margin-left: 20px;
    }
}

@include small_device {
    .make {
        align-self: center;
    }
}

.build {
    display: flex;
    align-items: center;
    align-self: flex-start;
    &_image {
        width: 80px;
        height: 80px;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconSolidMVP.png');
    }
    & span {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 40px;
        width: 420px;
        margin-left: 20px;
    }
}

@include small_device {
    .build {
        align-self: center;
    }
}

.create {
    display: flex;
    align-items: center;
    &_image {
        width: 80px;
        height: 80px;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconSolidLandingPage.png');
    }
    & span {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 40px;
        width: 420px;
        margin-left: 20px;
    }
}

.generate {
    display: flex;
    align-items: center;
    &_image {
        width: 80px;
        height: 80px;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconSolidDesignSystem.png');
    }
    & span {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 40px;
        width: 420px;
        margin-left: 20px;
    }
}