.reviews {
    position: relative;
    z-index: 1;
    bottom: 100px;
    width: 1120px;
    height: 280px;
    display: flex;
    justify-content: space-between;
}

@include small_device {
    .reviews {
        width: 640px;
        height: 660px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: 60px;
        z-index: 4;
        margin-top: 45px;
    }
}

.blue {
    display: none;
}

@include small_device {
    .blue {
        position: relative;
        z-index: 5;
        bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png');
        width: 640px;
        height: 180px;
        & span {
            display: block;
            width: 520px;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 40px;
            color: white;
            text-transform: uppercase;
            text-align: center;
        }
    }
    .men {
        margin-bottom: 50px;
        margin-top: 20px;
    }
}

.review {
    width: 540px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
    &__text {
        display: flex;
        justify-content: space-between;
        width: 460px;
        margin-top: 20px;
        &_avatar_men {
            background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/TestimonialPicture-2.png');
            width: 100px;
            height: 100px;
        }
        &_avatar_women {
            background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/TestimonialPicture-1.png');
            width: 100px;
            height: 100px;
        }
        &_name {
            position: relative;
            z-index: 1;
            width: 280px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 20px;
            & span:nth-child(1) {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 30px;
            }
            & span:nth-child(2) {
                color: #1967FA;
                font-weight: 600;
                font-size: 14px;
                line-height: 30px;
            }
        }
        &_img {
            position: relative;
            z-index: 2;
            background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IllustrationQuote.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            width: 60px;
            height: 46px;
        }
    }
    &__senior {
        width: 460px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
    }
}