$text-color-black: #11223F;
$text-color-darkblack: #000;
$text-color-blue: #1968FC;
$text-color-white: #fff;
$background-color-gray: #F3F7FF;
$background-color-lightblue:  rgba(25, 104, 252, 0.05);
$background-color-lightgray: #FBFBFB;